!!!
%html
  %head
    %title= @page || GitWiki::wiki_name
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/wiki.css'}
  %body
    %h1#title<
      %a.home{:href => '/'}>= GitWiki::wiki_name
      - if @page and GitWiki.url(@page) != '/'
        \:
        %a{:href => GitWiki.url(@page)}= @page.name
    %ul#actions
      - if @page
        %li
          %a.edit{:href => GitWiki.url(@page, :view => :edit)}> edit
        %li
          %a.log{:href => GitWiki.url(@page, :view => :log)}> log
      %li
        %a.list{:href => GitWiki.url(nil, :view => :tree)}> all
    #content= yield
