!!!
%html
  %head
    %title= @page || GitWiki::wiki_name
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/wiki.css'}
  %body
    %h1#title<
      %a.home{:href => '/'}>= GitWiki::wiki_name
      - if @page and @page.url != '/'
        \:
        %a{:href => @page.url}= @page.name
    %ul#actions
      - if @page
        %li
          %a.edit{:href => @page.edit_url}> edit
        %li
          %a.log{:href => @page.log_url}> log
      %li
        %a.list{:href => GitWiki.list_url}> all
    #content= yield
