%table.revisions
  - @page.log.each do |commit|
    %tr
      %td.date= Time.parse(commit['authored_date']).strftime('%F %X')
      %td.author= commit['author']['name']
      %td.message
        %a{:href => GitWiki.url(@page, :rev => commit['id'])}= commit['message']
